* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* color */
:root {
  --neutral-black: #263238;
  --neutral-d_grey: #4d4d4d;
  --neural-grey: #717171;
  --neutral-l-grey: #89939e;
  --neutral-grey-blue: #abbed1;
  --neutral-silver: #f5f7fa;
  --neutral-white: #fff;
  --primary: #28cb8b;
  --secondary: #263238;
  --info: #2194f3;
  --color-shade1: #43a046;
  --color-shade2: #388e3b;
  --color-shade3: #237d31;
  --color-shade4: #1b5e1f;
  --color-shade5: #103e13;
  --color-tint1: #66bb69;
  --color-tint2: #81c784;
  --color-tint3: #a5d6a7;
  --color-tint4: #c8e6c9;
  --color-tint5: #e8f5e9;
  --action1: #fbc02d;
  --action2: #e53835;
  --action3: #2e7d31;
}
* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  width: 100%;
}
/* navbar */
#logo {
  margin-left: 6.56rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0rem;
  background-color: var(--neutral-silver);
  flex-shrink: 0;
}
#nav-menu ul {
  display: flex;
  gap: 3.12rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--neutral-d_grey);
  font-family: "inter";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
}
#buts {
  display: inline-flex;
  gap: 0.88rem;
  margin-right: 7.5rem;
}
#but1 {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3rem;
  color: var(--color-shade1);
  background-color: var(--neutral-silver);
  font-size: 0.88;
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  line-height: 1.25rem;
}
#but2 {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3rem;
  background-color: var(--color-shade1);
  color: var(--neutral-white);
  font-size: 0.88;
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  line-height: 1.25rem;
}
/* first-page-content */
#first-page {
  background: var(--neutral-silver, #f5f7fa);
}
#herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 9rem;
}
#home-heading {
  color: var(--neutral-d-grey, #4d4d4d);
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.75rem;
}
#home-heading1 {
  color: var(--brand-primary, #4caf4f);
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.75rem;
}
#home-heading-para {
  color: var(--neutral-grey, #717171);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1rem;
}
#register {
  display: inline-flex;
  padding: 0.875rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--color-shade1);
  color: var(--neutral-white);
  border-radius: 0.25rem;
  border-style: none;
  margin-top: 2rem;
}
#dot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#dot1 {
  padding-bottom: 1rem;
}
/* #second-page */
#second-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 2.5rem;
}
#our-client {
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
  color: var(--neutral-d_grey);
}
#oc-para {
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
#clog {
  padding-top: 0.5rem;
}
#sec-head {
  width: 35%;
  color: var(--neutral-d_grey);
  font-family: "inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
  text-align: center;
  margin-top: 2.5rem;
  flex-shrink: 0;
}
#sec-p {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
#cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5rem;
}
#card1,
#card2,
#card3 {
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
#ico1,
#ico2,
#ico3 {
  width: 12%;
  background-color: var(--color-tint5);
  border-radius: 1.125rem 0.3125rem 0.625rem 0.3125rem;
}
#cardh1,
#cardh2,
#cardh3 {
  width: 30%;
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}
#cardp1,
#cardp2,
#cardp3 {
  width: 55%;
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
}
#cardp2 {
  width: 50%;
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
}
/* #third-page */
#third-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 9rem;
  column-gap: 6rem;
  padding-bottom: 3rem;
}

#unlock-h {
  width: 75%;
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
  margin-bottom: 1rem;
}
#unlock-p {
  width: 85%;
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 2rem;
}
#unlock-b {
  display: inline-flex;
  align-items: center;
  padding: 0.875rem 2rem;
  color: var(--neutral-white);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  background: var(--brand-primary, #4caf4f);
}
/* fourth-page */
#fourth-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 9rem;
  margin-bottom: 3rem;
  background: var(--neutral-silver, #f5f7fa);
}
#fph {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
}
#fph1 {
  color: var(--brand-primary, #4caf4f);
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
}
#fp-p {
  color: var(--text-gray-900, #18191f);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
#fp-count {
  display: flex;
  gap: 1.88rem;
}
#fp-c {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#memh {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
#memp {
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
#fp-c2 {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
#clubh {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
#clubp {
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
#fp-count1 {
  display: flex;
  gap: 1.88rem;
}
#fp-c11 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#eventh {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
#eventp {
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
#fp-c22 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#payh {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
#payp {
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
/* #fifth-page */
#fifth-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 9rem;
  column-gap: 6rem;
  padding-bottom: 3rem;
}
#f-ph {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
}
#f-pp {
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#f-pb {
  display: inline-flex;
  align-items: center;
  padding: 0.875rem 2rem;
  color: var(--neutral-white);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  background: var(--brand-primary, #4caf4f);
}
/* sixth-page */
#sixth-page {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: first center;
  gap: 4.88rem;
  padding: 2rem 9rem;
  background: var(--neutral-silver, #f5f7fa);
}
#s-p {
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}
#s-h4 {
  color: var(--brand-primary, #4caf4f);
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
#s-p1 {
  color: var(--neutral-l-grey);
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}
#s-pa {
  color: var(--brand-primary, #4caf4f);
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
}
#s-p0 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* seventh-page */
#seventh-page-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
#seventh-h {
  color: var(--neutral-d_grey);
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
}
#seventh-p {
  width: 40%;
  color: var(--neural-grey);
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
}
#cardss {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
#cardsss {
  width: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
#im18 {
  width: 23rem;
}
#carditem1,
#carditem2,
#carditem3 {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--neutral-silver, #f5f7fa);
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  position: relative;
  margin-top: -6rem;
}
#carditem3 {
  width: 19rem;
}
#c-h {
  color: var(--neutral-grey, #717171);
  text-align: center;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
}
#c-A {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--brand-primary, #4caf4f);
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
}
#seventh2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  background: var(--neutral-silver, #f5f7fa);
}
#seventh2-h {
  width: 55%;
  color: var(--neutral-black, #263238);
  text-align: center;
  font-family: "Inter";
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#seventh2-a {
  display: flex;
  padding: 0.875rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--brand-primary, #4caf4f);
  color: var(--neutral-white, #fff);
  text-align: center;
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
#f {
  background-color: var(--neutral-black);
  display: flex;
  padding: 4rem 10.3125rem;
}
#f1 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-right: 7.81rem;
}
#f1 #copy a {
  width: 21.875rem;
  display: flex;
  color: var(--neutral-silver);
  margin-bottom: 0.5rem;
  font-family: 'Inter';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

#f2 {
  display: flex;
  flex-direction: column;
  color: var(--neutral-white);
  padding-right: 1.88rem;
}
#f2 h3 {
  padding-bottom: 1.5rem;
}
#com-a a {
  padding-bottom: 0.75rem;
  width: 10rem;
}
#com-a {
  display: flex;
  flex-direction: column;
}
#f2 a {
  color: var(--neutral-silver);
}
#f3 {
  display: flex;
  flex-direction: column;
  color: var(--neutral-white);
  padding-right: 1.88rem;
}
#f3 h3 {
  padding-bottom: 1.5rem;
}
#com-aa {
  display: flex;
  flex-direction: column;
}
#com-aa a {
  padding-bottom: 0.75rem;
  width: 10rem;
}
#f3 a {
  color: var(--neutral-silver);
}
#f4 {
  color: var(--neutral-white);
}
#f4 h3 {
  margin-bottom: 1.5rem;
}
#f4 input {
  width: 16rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  opacity: 0.2;
  background: var(--default-white, #fff);
  padding-left: 0.75rem;
}
#f4 img {
  position: relative;
  left: -2rem;
  top: 0.32rem;
}
